.modal-content {
  background: linear-gradient(to bottom, #fff 0%, #d0e4f7 100%);
  color: #1d3c63;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 5px 20px rgba(61, 136, 199, 0.4);
  position: relative;
  margin: 15% auto;
  animation: modalopen 0.4s ease-out;
}

@keyframes modalopen {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.modal-content:hover::before {
  opacity: 1;
}
